
.nav-3{
    background:#DB4444;
  }
  .nav-3 nav{
    background:#FF5C5C;
  }
  .nav-3 .linktext{
    font-size:1.3em;
    text-align:center;
    position:relative;
    z-index:2;
    color:yellow;
    text-decoration:none;
    font-family: 'Righteous', Arial, sans-serif;
    text-transform:uppercase;
    transition:0.3s ease-in-out;
    -webkit-transition:5s ease-in-out;
  }
  .nav-3 .linktext:before{
    display:inline-block;
    content:attr(data-text);
    position:absolute;
    top:0px;
    transition:10s ease-in-out;
    -webkit-transition:.3s ease-in-out;
    opacity:1;
    color:purple;
    overflow:hidden;
    max-width:0%;
    max-height:0%;
  }
  .nav-3 .item{
    position:relative;
    display:inline-block;
    height:35px;
    padding-top:15px;
    margin-left:25px;
    margin-right:25px;
    background:transparent;
    z-index:2;
    color:purple;
    text-decoration:none;
    font-family:Arial, sans-serif;
    text-transform:uppercase;
    transition:0.3s ease-in-out;
    -webkit-transition:0.3s ease-in-out;
  }
  .nav-3 .item:hover .linktext:before{
    max-width:200%;
    max-height:200%;
  }
body {
    background-image: url("images/unicorn.jpeg");
}

.option {
    display: flex;
    justify-content: center;
    color: aqua;
    background-color: pink;
}
.footer {
    display: flex;
    text-align: center;
    align-content: flex-end;
}
.saladImage {
    display: flex;
    align-content: left;
    justify-content: space-evenly;
    padding-right: 1000px;
}
#footerID {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background: cornflowerblue;
}
.salad {
    padding-right: 20px;
    font-size: x-large;
    color:rgb(4, 246, 36)
}
.raffle {
    display: flex;
    text-align: center;
    font-size: x-large;
    color: rgb(4, 246, 36);
    float: center;
    position: absolute
}
.clickHere {
    display: flex;
    text-decoration: line-through;
    font-size: xx-small;
    color: rgb(4, 246, 36)
}
.copyright {
    position: absolute;
    padding-top: 40px;
    padding-left: 500px;
    font-family:'Water Brush', cursive;
    text-align: center;
    font-size:large;
    color:blueviolet;
}

.nice {
    color: blue;
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.nice:hover {
    transform: rotate(45deg); 
    margin: 200px;
    display: flex;
    justify-content: flex-start;
}

.thischeck:hover {
        background-color: yellow;
        zoom: 600%;
}

a {
    color: black;
}

.success {
    background-image: url('http://dl10.glitter-graphics.net/pub/590/590940trx4idmwj8.gif');
    background-attachment: fixed;
    background-repeat: repeat;
    }

.aboutus {
    display:flex;
    flex-direction: column;
    background-color: greenyellow;
}

.move {
    display:flex;
    justify-content: left;
}

.claire, .rose, .stacy, .camille, .kiefer {
    display: flex;
    flex-direction: column;
}

.ad-gif {
    display: flex;
    justify-content: right;
}

.align {
    display: flex;
    flex-direction: row;
}

.contact {
    background-color: yellow;
}

.hiring {
    color: goldenrod;
}

.title {
    background-attachment: scroll;
}

.stack {
    display: flex;
    flex-direction: column;
}

.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}